@import "tailwindcss";

:root {
  --background-white: #ffffff;
  --background-light: #ece8df;
  --background-green: #2e3c2b;
  --background-light-green: #dcdfd4;
  --background-orange: #eaad93;
  --background-brown: #785c4a;

  --foreground-green: #204e2c;
  --foreground-black: #1c120e;

  --foreground: var(--foreground-black);

  --cta: #fe601f;
  --cta-focus: #d84a0f;
  --error: #dd0004;
}

@theme inline {
  --color-background: var(--background-white);
  --color-foreground: var(--foreground-black);
  --color-foreground-green: var(--foreground-green);

  --color-background-light: var(--background-light);
  --color-background-green: var(--background-green);
  --color-background-light-green: var(--background-light-green);
  --color-background-orange: var(--background-orange);
  --color-background-brown: var(--background-brown);

  --color-cta: var(--cta);
  --color-cta-focus: var(--cta-focus);
  --color-error: var(--error);

  --font-heading: var(--font-heading);
  --font-subheading: var(--font-subheading);
  --font-body: var(--font-body);
  --font-body-bold: var(--font-body-bold);

  --text-body: 1rem;
  --text-body-bold: 1.25rem;
  --text-subheading: 1.5rem;
  --text-heading: 3rem;
  --text-title: 4.5rem;

  --shadow-custom: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-body-bold {
  font-weight: 600;
}

.font-body {
  font-weight: 400;
}

.font-subheading {
  font-weight: 500;
}

.font-heading {
  font-weight: 400;
}

.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 10%;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--foreground);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s;
}

.current-page.custom-underline::after,
.custom-underline:hover::after,
.custom-underline:focus-within::after {
  transform: scaleX(1);
}
